/*******************
GENERAL
********************/

body {
	font-family: 'Poiret One', cursive;
	text-align: center;
	}

a {
	text-decoration: none;
	}

* {
	box-sizing: border-box;
		}

#page-wrap {
	 max-width: 980;
     margin: 0 auto;
}


#page-wrap2 {
     max-width: 980;
     margin: 0 auto;
     font-size:0;

     
		}

#mainimage {
	position: relative;
	list-style: none;
	margin: 0px 0 0 0;
	padding: 0;

		}	


h2 { 
   position: absolute; 
   top: 0px; 
   left: 0px; 
   width: 100%; 

}

h2 span { 
	padding: 5px; 
	font: bold 15px/5px Helvetica, Sans-Serif; 
   	letter-spacing: -1px; 
}

h2 span.spacer {
   padding:0px 5px;
}

#imagesbar {
	list-style: none;
	margin: 0;
	padding: 0;

}

#imagesbar li {
	display: inline-block;	
	float: left;
	width: 50%;
}

img {
	max-width: 100%;
}


/*******************
HEADING
********************/
header {
	height: 100px;
	
	padding: 0.6em;
	
	}

h1	{
	text-align: center;
	font-size: 1.5em;
	text-shadow: 5px 8px 10px #222;
	
	}




/*******************
NAVIGATION
********************/

nav {
	text-align: center;
	padding: 12px 0;
	margin: 10px 0;
	font-size: .9em;
	height: 100px;
	}

nav ul {
	list-style: none;
	padding: 0 0px;
	margin: 0px;
	}

nav li {
	display: inline-block;
	}



/**********************
FOOTER
**********************/

footer  {
	display: inline-block;
}


/*******************
PAGE OUR EXPERIENCE
********************/

#paragraph {
	display: inline-block;
	margin: 50px 0 50px 0;
	width: 100%;


}

/*******************
PAGE ABOUTUS
********************/
#aboutlist {
	display: inline-block;
	margin: 30px 0 50px 0;
	width: 100%;
	list-style: none;
}


/********************
PAGE CONTACT
********************/

#contactus {
	display: inline-block;
	margin: 50px 0;
	width: 100%;
	list-style: none;
}

/********************
IMAGES
********************/

#kitchenimg {
	display: inline-block;
	list-style: none;
	width: 100%;
}


/********************
COLORS
********************/

header {
	background-color: #C1871E;
}

h1
	{
		color: white;
	}

nav ul li a {
	color: white;
	box-shadow: 0px -3px #b67c13;
	background-color: #d09d40;
	
}

nav a.selected, nav a:hover {
	color: #b67c13;
	}

#imagesbar img { 
  border: 3px solid white; 
} 

#imagesbar img:hover { 
  border: 3px solid #b67c13; 
} 

#mainimage {
	opacity: 0.8;

}	

h2 span { 
   color: white;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
 
}
